
article{
    margin: 50px;
}
  
 
.zoom-effect:hover{
   
    filter: grayscale(000.3s);
     opacity: 0.4;
 }
  
 h1{
    color: white;
   text-align: center;
   padding: 30px;
  }

 header{
    background-color: rgb(30, 207, 14);
    border-radius: 20px;
}
img{
width: 300px;
height: 300px;
border: 5px solid rgb(201, 71, 168);
border-radius:50cap ;}

img:hover{
    height: 350px;
    width: 350px;
   
}
table {
    width: 70%;
    border-collapse: collapse;
   
  }
  th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #a88383;
    border-radius: 5px;
  }

  tr:hover {background-color: rgb(102, 214, 102); color: #e6d9d9;}

  th{
    background-color: rgb(116, 211, 116);
    color: #e4c2c2;
}th{
    background-color: rgb(59, 197, 59);
    color: #fff;
}

li{ 
    margin: 10px;
}

iframe {
    width:200px ;
    height: 200px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=email], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  #form-div1 {
    width: 80%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  aside a{
    
    font-size: 20px;
    display: block;
    margin: 30px;
     text-decoration: none;
  }
  aside a:hover{
    font-size: 25px;
    text-decoration: underline;
    color: #856e6e;
  }

  aside{
    position: fixed;
    right: 20px;
    top: 30%;
    width: 200px;

  }

  #bar {
    background-image: linear-gradient(to bottom right, #27864f, rgb(136, 19, 91));
    border-radius: 22px;
  }